# Loops and Functions

In [1]:
fruits = ['Apple','Banana','Pear']

In [2]:
for fruit in fruits:
    print(fruit)

Apple
Banana
Pear

In [3]:
for fruit in fruits:
    print(fruit + " Pie")

Apple Pie
Banana Pie
Pear Pie

In [4]:
for fruit in fruits:
    print(fruits)

['Apple', 'Banana', 'Pear']
['Apple', 'Banana', 'Pear']
['Apple', 'Banana', 'Pear']

In [5]:
student_heights = [180,124,165,173,189,169,146]

avg_student_height = (sum(student_heights)/len(student_heights))

print(round(avg_student_height,2))

163.71

### Write a for loop to print numbers from 1 to 10.

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Create a for loop to print the even numbers from 1 to 20.

In [7]:
for i in range (2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### Write a for loop to calculate the sum of numbers from 1 to 10.

In [8]:
total = 0
for i in range (1,11):
    total += i

    print(total)

1
3
6
10
15
21
28
36
45
55

In [9]:
total = 0
for i in range (1,11):
    total += i

print(total)

55

### Write a for loop to iterate over a string and print each character.

In [10]:
text = 'Hello_world'

for i in text:
    print(i)

H
e
l
l
o
_
w
o
r
l
d

In [11]:
height = input().split() #This code will prompt the user to enter heights separated by spaces,
#                         and then it will split the input string into a list of height values.

for i in height:
    print(i)

123,176
123,176

In [18]:
my_list = [22,33,44]


max_num = my_list[0]


for num in my_list:
    if num > max_num:
        max_num = num   
print(num)

44

In [19]:
my_list = [22,33,44]


max_num = 0


for num in my_list:
    if num > max_num:
        max_num = num   
print(num)

44

In [23]:
total = 0
for i in range(1,11):
    total += i
print (total)

55

In [24]:
target = int(input())

even_sum = 0

for i in range (1, target+1,2):
    even_sum += i
print(even_sum)

50
625

### FIZZ / BUZZ

In [27]:
for i in range (1,101):
    if i % 3 == 0:
        print("Fizz")
    if i % 5 == 0:
        print("Buzz")
    if i % 15 == 0:  # if i % 3 == 0 and if i % 5 == 0:
        print("FizzBuzz")   
    else:
        print(i)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizz
Buzz
FizzBuzz
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizz
Buzz
FizzBuzz
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizz
Buzz
FizzBuzz
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
Fizz
Buzz
FizzBuzz
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
Fizz
Buzz
FizzBuzz
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
Fizz
Buzz
FizzBuzz
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99
Buzz
100

### Password Generator

In [32]:
import random

letters = ['a','b','c','d','e','f','g']

numbers = [1,2,3,4,5,6,7,8,9,0]

symbols = ["!","@","#","$","%"]

letpass = int(input('how many letters do you want in your password'))

numpass = int(input('how many numbers do you want in your password'))

sympass = int(input('how many symbols do you want in your password'))


password = ""

for i in range(1,letpass+1):
    random_char = random.choice(letters)
    password += random_char
for i in range(1,numpass+1):
    random_num = random.choice(numbers)
    password += random_num
for i in range(1,sympass+1):
    random_sym = random.choice(symbols)
    password += random_sym
print(password)

how many letters do you want in your password4
how many numbers do you want in your password4
how many symbols do you want in your password4
dfae

In [33]:
import random

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
symbols = ["!", "@", "#", "$", "%"]

letpass = int(input('how many letters do you want in your password '))
numpass = int(input('how many numbers do you want in your password '))
sympass = int(input('how many symbols do you want in your password '))

password = ""

for i in range(1, letpass + 1):
    random_char = random.choice(letters)
    password += random_char

for i in range(1, numpass + 1):
    random_num = random.choice(numbers)
    password += str(random_num)  # Convert random_num to string before concatenating

for i in range(1, sympass + 1):
    random_sym = random.choice(symbols)
    password += random_sym

print(password)

how many letters do you want in your password 4
how many numbers do you want in your password 4
how many symbols do you want in your password 4
aefd4013@%##

### Discount Table
A particular retailer is having a 60 percent off sale on a variety of discontinued
products. The retailer would like to help its customers determine the reduced price
of the merchandise by having a printed discount table on the shelf that shows the
original prices and the prices after the discount has been applied. Write a program that
uses a loop to generate this table, showing the original price, the discount amount,
and the new price for purchases of $4.95, $9.95, $14.95, $19.95 and $24.95. Ensure
that the discount amounts and the new prices are rounded to 2 decimal places when
they are displayed.

In [36]:
purchases = [4.95,9.95,14.95,19.95,24.95]

print('Original Price -------- Dicount amount -------- New price')
for i in purchases:
    print('{}                       {:.2f}                  {:.2f}'. format(i, i * 0.6, i - (i * 0.6)))

Original Price -------- Dicount amount -------- New price
4.95                       2.97                  1.98
9.95                       5.97                  3.98
14.95                       8.97                  5.98
19.95                       11.97                  7.98
24.95                       14.97                  9.98

### Temperature Conversion Table
Write a program that displays a temperature conversion table for degrees Celsius and
degrees Fahrenheit. The table should include rows for all temperatures between 0
and 100 degrees Celsius that are multiples of 10 degrees Celsius. Include appropriate
headings on your columns. The formula for converting between degrees Celsius and
degrees Fahrenheit can be found on the internet.

In [37]:
def celsius_to_fahrenheit(celsius):
    """Converts Celsius temperature to Fahrenheit."""
    return (celsius * 9/5) + 32


print("Celsius\tFahrenheit")

# Generate and print temperature conversion table
for celsius in range(0, 101, 10): 
    fahrenheit = celsius_to_fahrenheit(celsius)
    print(f"{celsius}\t{fahrenheit:.2f}")

Celsius	Fahrenheit
0	32.00
10	50.00
20	68.00
30	86.00
40	104.00
50	122.00
60	140.00
70	158.00
80	176.00
90	194.00
100	212.00

# Note: Try - Except

In [38]:
try:
    number = float((input('what is your height?  ')))
    print(f'square of {number} is {number**2}')
except:
    print('Warning: Check your input!')

what is your height?  1.98
square of 1.98 is 3.9204

In [39]:
try:
    number = float((input('what is your height?  ')))
    print(f'square of {number} is {number**2}')
except:
    print('Warning: Check your input!')

what is your height?  hasan
Warning: Check your input!

# Raise  (customize error messages : good for debugging)

In [40]:
import math

math.sqrt(-4)

ValueError: math domain error

In [41]:
n = -4
if n <= 0:
    raise ValueError('you can change it, good for debugging')

ValueError: you can change it, good for debugging